@media (max-width: 600px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        height: 735px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-position: center;
        gap: 33px;

        &__title {
            text-align: center;
            font-size: 32px;
            margin-top: 238px;
        }

        &__text {
            width: 343px;
            text-align: center;
            font-size: 14px;
            line-height: 22px;
        }
    }

    .content {
        width: auto;
        height: 1221px;
        padding-left: 16px;
        padding-right: 16px;

        &__cart {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 128px;
        }

        &__item {
            width: 343px;
        }
    }

    .game {
        width: auto;

        &__part {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-position: center;
            gap: 64px;
        }

        &__box {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-position: center;
            gap: 32px;
        }

        &__title {
            text-align: center;
            font-size: 32px;
        }

        &__text {
            text-align: center;
            font-size: 14px;
            line-height: 22px;
        }

        &__image {
            width: 100%;

        }

    }

}